body{
    color: #fff;
     font-family: "Poppins", sans-serif !important;
}

#form-container{
    width: 90%;
    max-width: 600px;
    border:black 5px solid;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#form__container__header {
    border-radius: 10px 10px 0 0;
    padding: 30px;
    text-align: center;
    margin: 0;
    font-size: 18px;
    font-size: 300;
    line-height: 0;
    color:black;
  }

  #form__content__wrapper{
    padding: 20px;
}

input {
    box-sizing: border-box;
    color: black;
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 5px;
    padding: 16px 20px;
    font-size: 15px;
    background-color: white;
    border: 2px solid black;
    margin-top: 32px;
     font-family: "Poppins", sans-serif !important;
    
  }
 input:-internal-autofill-selected {
   background-color: white !important;
 }
 
  input[type='submit'] {
    background-color: black;
    color: white;
     cursor: pointer;
 
  }
